<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Todo List</title>

    <link rel="stylesheet" href="/assets/style.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="/assets/todo.js"></script>
</head>
<body>
    <img class="banner" src="/assets/logo.svg" alt="">
    <div id="todo-table">
        <form id="input-form">
            <input type="text" name="item" placeholder="Add new item..." autocomplete="off" required/>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for(i=0; i < todos.length; i++) { %>
                <li data-id='<%= todos[i].id %>'><%= todos[i].item %></li>
            <% } %>
        </ul>
    </div>

</body>
</html>